.panda-bg-pink{
    background-color: #FCEAE8;
}
.panda-color-pink{
    color: #FF3786;
}
.panda-btn-bg{
    background-color: #FF3786;
}

.panda-cat-bg-warn{
    background-color: #FFA500;
}
.panda-cat-bg-pink{
    background-color: #DA70D6;
}
.panda-cat-bg-blue{
    background-color: blue;
}